# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/
.venv/

# Package distribution
build/
dist/
*.egg-info/

# IDE/editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Log files
*.log

# Testing data
.tox/
.nox/
.coverage
.pytest_cache/


local_airflow/pgdata
my-db

dbeaver_conf/queries/.dbeaver

jupyter/notebooks/.ipynb_checkpoints

pgdata

.venv